<div class="mx-auto mt-5" style="width:400px">
  <h1 class="text-center">New Movie List</h1>
  <%= simple_form_for [@list] do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
</div>
